.content {
    padding: 20px;
}

.content__imageContainer {
    max-width: 600px;
    width: 100%;
}

.content__imageContainer img {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.content__imageContainer img:not(:nth-child(1)) {
    opacity: 0;
    visibility: hidden;

    transition: visibility 0s, opacity 0.5s linear;
}

.content__imageContainer img.visible {
    opacity: 1;
    visibility: visible;
}

.content__imageControls {
    width: 50px;
    height: 50px;
    background: red;
    display: none;
}

.show {
    display: block;
}