.content {
    padding: 20px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.content input {
    display: none;
}

.content p {
    text-align: center;
    color: #3e915b;
}

.content__actionButton {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 8px 22px;
    color: #fff;
    background-color: #198d9f;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.content__actionButton--clearPage {
    margin-top: 10px;
    font-size: 11px;
    background-color: #565a5b;
}

.content__imageContainer {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.content__imageContainer img {
    max-width: 800px;
    width: calc(100% - 40px);
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto 20px auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 1s linear;
    -o-transition: visibility 0s, opacity 1s linear;
    transition: visibility 0s, opacity 1s linear;
}

.content__imageContainer img.visible {
    opacity: 1;
    visibility: visible;
}

.content__imageControls {
    width: 80px;
    height: 40px;
    margin: 50px auto 10px auto;
    visibility: hidden;
}

.content__imageControls button {
    width: 48%;
    height: 100%;
    background: #fff;
    color: #565a5b;
    border: 1px solid #e0e6e7;
}

.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}